{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
    #go {
        cursor: pointer;
        color: black;
        text-decoration: none;
    }

    #go:hover {
        color: white;

    }
</style>
<section class="section-content padding-y bg">
    <div class="container">
        <!-- ============================ COMPONENT 1 ================================= -->
        <div class="card">
            {% include 'alerts.html' %}

            <div class="row no-gutters">
                <aside class="col-md-6">
                    <article class="gallery-wrap">
                        <div class="img-big-wrap">
                            <div> <a href="{{ product.product_images.first.image.url }}"><img
                                        src="{{ product.product_images.first.image.url }}"></a></div>
                        </div> <!-- slider-product.// -->
                        <div class="thumbs-wrap">
                            {% for images in product.product_images.all %}
                            <a href="{{ images.image.url }}" class="item-thumb"> <img src="{{ images.image.url }}"></a>
                            {% endfor %}
                        </div> <!-- slider-nav.// -->
                    </article> <!-- gallery-wrap .end// -->
                </aside>
                <main class="col-md-6 border-left">
                    <article class="content-body">

                        <h2 class="title">{{product.product_name}}</h2>

                        <div class="rating-wrap my-3">
                            <ul class="rating-stars">
                                <li style="width:80%" class="stars-active">
                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </li>
                            </ul>
                            <small class="label-rating text-muted">132 reviews</small>
                            <small class="label-rating text-success"> <i class="fa fa-clipboard-check"></i> 154 orders
                            </small>
                        </div> <!-- rating-wrap.// -->

                        <div class="mb-3">
                            <span id="price" class="price h4">{{updated_price}}</span>
                        </div> <!-- price-detail-wrap .// -->

                        <p>{{product.product_description}}</p>


                        <dl class="row">
                            <dt class="col-sm-3">Model#</dt>
                            <dd class="col-sm-9">Odsy-1000</dd>
                            <dt class="col-sm-3">Color</dt>
                            <dd class="col-sm-9">

                                {% if product.color_varient %}
                                <div class="form-group col-md">
                                    <div class="mt-1 bootstrap-iso">
                                        {% for color in product.color_varient.all %}
                                        <label class="custom-control custom-radio custom-control-inline">
                                            <input required="required" type="radio" id="radio_color{{forloop.counter}}"
                                                name="select_color" value="{{color.price}}"
                                                onchange="getColorPrice(event,'{{forloop.counter}}','{{color.color_name}}')"
                                                class="custom-control-input">

                                            <div class="custom-control-label">{{color.color_name}}
                                            </div>
                                        </label>
                                        {% endfor %}


                                    </div> <!-- col.// -->
                                    {% endif %}
                            </dd>
                            <dt class="col-sm-3">Delivery</dt>
                            <dd class="col-sm-9">Russia, USA, and Europe </dd>
                        </dl>

                        <hr>
                        <div class="form-row">
                            <div class="form-group col-md flex-grow-0">
                                <label>Quantity</label>
                                <div class="input-group mb-3 input-spinner">
                                    <div onclick="decrease(event)" class="input-group-prepend">
                                        <button class="btn btn-light" type="button" id="button-minus"> − </button>

                                    </div>
                                    <input disabled type="text" class="form-control" id="qty" value="{{qty}}">
                                    <div class="input-group-append">
                                        <button onclick="increase(event)" class="btn btn-light" type="button"
                                            id="button-plus"> + </button>
                                    </div>
                                </div>
                            </div> <!-- col.// -->

                            {% if product.size_varient %}
                            <div class="form-group col-md">
                                <label>Select size</label>
                                <div class="mt-1 bootstrap-iso">
                                    {% for size in product.size_varient.all %}
                                    <label class="custom-control custom-radio custom-control-inline">
                                        <input onchange="getSizePrice(event,'{{forloop.counter}}','{{size.size_name}}')"
                                            required="required" type="radio" name="select_size"
                                            id="radio_size{{forloop.counter}}" value="{{size.price}}"
                                            class="custom-control-input">

                                        <div class="custom-control-label">{{size.size_name}}</div>
                                    </label>
                                    {% endfor %}
                                </div>
                            </div> <!-- col.// -->
                            {% endif %}
                        </div> <!-- row.// -->

                        <a id="go" href="{% url 'add_to_cart' product.uid %}?size=&color=&qty={{qty}}"
                            class="btn btn-outline-primary"> <span class="text">Add
                                to cart</span> <i class="fas fa-shopping-cart"></i> </a>
                    </article> <!-- product-info-aside .// -->
                </main> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->
        <!-- ============================ COMPONENT 1 END .// ================================= -->


    </div>
</section>
<script>
    let updated_price = +'{{updated_price}}';
    let size_price = 0;
    let color_price = 0;
    var c = '';
    var s = '';
    function getColorPrice(e, count_c, color) {
        let price = $(`#radio_color${count_c}`).val()
        color_price = +price
        c = color;
        $(`#price`).html(`<h4>${(updated_price + size_price + color_price) * $('#qty').val()}</h4>`)
        // console.log(c, s)

        $("#go").attr("href", `{% url 'add_to_cart' product.uid %}?size=${s}&color=${c}&qty=${$('#qty').val()}`);
    }
    function getSizePrice(e, count_s, size) {
        let price = $(`#radio_size${count_s}`).val()
        size_price = +price
        s = size;
        $(`#price`).html(`<h4>${(updated_price + size_price + color_price) * $('#qty').val()}</h4>`)
        // console.log(c, s)
        $("#go").attr("href", `{% url 'add_to_cart' product.uid %}?size=${s}&color=${c}&qty=${$('#qty').val()}`);
    }


    function increase(e) {
        document.getElementById('qty').value++;
        $(`#price`).html(`<h4>${(updated_price + size_price + color_price) * $('#qty').val()}</h4>`)


    }
    function decrease(e) {
        if (document.getElementById('qty').value > 1) {
            document.getElementById('qty').value--;
            $(`#price`).html(`<h4>${(updated_price + size_price + color_price) * $('#qty').val()}</h4>`)

        }

    }


</script>

{% endblock %}